# Ignorar el entorno virtual
venv/

# Ignorar los archivos y directorios especificos
*.pyc
__pycache__/

# Ignorar archivos de configuracion de IDEs 
.idea/
.vscode/

# Ignorar archivos de log
*.log

